<%- include('../templates/header.ejs'); %>

    <div class="container">
        <h1>Login</h1>
        <% if(status == 1) {%>
            <div class="email-error">Invalid email</div>
        <% } else if (status == 2) { %>
            <div class="password-error">Invalid password</div>
        <% } %>

        <form action="/user/login" method="POST">
            <label for="email" class="form-label">Email</label>
            <input type="text" id="email" name="email" class="form-control">
            <label for="password" name="password" class="form-label">Password</label>
            <input type="password" id="password" name="password" class="form-control"><br>
            <button type="submit" class="btn btn-light border">Submit</button>
        </form>
        <a href="/user/register">Register</a>
    </div>

    

<%- include('../templates/footer.ejs'); %>