<%- include('../templates/header.ejs'); %>

    <div class="container">
        This is my inventory management online application.
        This is the index.
    </div>

<%- include('../templates/footer.ejs'); %>