<%- include('../templates/header.ejs'); %>
    <div class="container">
        <h1>This is the personnal project of Samuel Laforme</h1>
        <p>
            Hello <% if(locals.session.username) {%> <%= locals.session.username  %>! <% } else { %> World! <% } %>
        </p>
    </div>

<%- include('../templates/footer.ejs'); %>